@inject IOptions<AwsConfig> AwsConfig
@using API.Configurations
@using Microsoft.Extensions.Options
@using API.Services
@model API.RequestHelpers.PagedList<Product>

@{
    ViewData["Title"] = "Products";
    var products = Model;
    var metaData = products.MetaData;
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Picture
        </th>
        <th>
            Name
        </th>
        <th>
            Sku
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
        <th>
            Category
        </th>
        <th>
            Brand
        </th>
        <th>
            Avg Rating
        </th>
        <th>
            No of Rating
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <img
                    class="object-fit-contain border rounded"
                    src="@($"{AwsConfig.Value.DistributionDomainName}/{ImageFolders.ProductImages}/{item.Id}")"
                    alt="Product image"
                    width="100"
                    height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfRatings)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>